.card {
    padding: 10px 10px 20px 10px;
    border: solid 1px blue;
    border-radius: 12px;
    margin-right: 8px;
    border: 1px solid var(--celeste);
}
.card:hover {
    transition: background-color 0.5s ease;
    margin-top: 2px;
    cursor: pointer;
}
.card__img {
    width: 185px;
}
.card__token {
    font-size: 22px;
    font-weight: 700;
}
.card__addr {
    font-size: 12px;
    max-width: 185px;
    overflow: hidden;
}
.card__body a {
    font-size: 12px;
    color: var(--text);
}
.card.active {
    background-color: var(--mauve);
    margin-top: 2px;
}