.swappanel {
    border: 3px solid var(--celeste);
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    width: 700px;
    margin-top: 160px;
    padding: 20px 30px;
    justify-content: space-between;
    box-shadow: var(--shadow-1);
}
.swappanel__label {
    font-size: 16px;
    color: var(--text-gray-1);
}
.swappanel__sub {
    width: 120px;
    display: flex;
    flex-direction: column;
}
.swappanel__sub h3 {
  color: var(--text);
  margin: 0;
}
.swappanel__switch {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swappanel__img {
    width: 40px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.swappanel__img:hover {
    background-color: #80808029;
    border-radius: 4px;
    padding: 5px;
    transition: background-color 0.5s ease;
}
.swappanel__img:active {
    margin-top: 2px;
}
.swappanel__logo {
    height: 30px;
    margin-right: 10px;
}
.swappanel__direction {
    display: flex;
    align-items: center;    
    margin-top: 10px;
}