:root {
  /* https://coolors.co/826aed-c879ff-ffb7ff-3bf4fb-caff8a */
  /* CSS HSL */
  --medium-slate-blue: hsla(251, 78%, 67%, 1);
  --heliotrope: hsla(275, 100%, 74%, 1);
  --mauve: hsla(300, 100%, 86%, 1);
  --aqua: hsla(182, 96%, 61%, 1);
  --mindaro: hsla(87, 100%, 77%, 1);

  /* https://coolors.co/7bdff2-b2f7ef-eff7f6-f7d6e0-f2b5d4 */
  /* CSS HSL */
  --sky-blue-crayola: hsla(190, 82%, 72%, 1);
  --celeste: hsla(173, 81%, 83%, 1);
  --mint-cream: hsla(173, 33%, 95%, 1);
  --piggy-pink: hsla(342, 67%, 90%, 1);
  --cotton-candy: hsla(330, 70%, 83%, 1);

  --font-gray-1: rgba(83, 83, 83, 0.849);

  --text: #383838;
  /* --shadow-1: -1px 1px 10px rgb(0 0 0 / 30%), 0px 2px 12px rgb(0 0 0 / 22%); */
  --shadow-1: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  /* --shadow-1: -8px -8px 30px rgb(255 255 255 / 95%), 8px 8px 30px rgb(174 174 192 / 35%), inset -8px -8px 12px rgb(255 255 255 / 15%), inset 8px 8px 8px rgb(174 174 192 / 4%) */
}
.app {
  /* background-color: hsla(173, 33%, 95%, 1); */
}
.header {
  height: 60px;
  width: 100%;
  box-shadow: var(--shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__titles {
  display: flex;
  align-items: center;
}
.header__button {
  margin-right: 40px;
}
.header h1 {
  margin: 10px 40px 10px 10px;
  color: var(--medium-slate-blue);
}

.header h3 {
  margin: 10px 40px;
  font-size: 20px;
  color: var(--text);
}

.swappanel__container {
  display: flex;
  justify-content: center;
}
.preview__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.header__logo {
  height: 40px; 
  margin-left: 40px;
  color: var(--medium-slate-blue);
}
.Logo {
  height: 40px; 
  margin-left: 40px;
  color: var(--medium-slate-blue);
}

